.venv
/developer/dropbox.json
/flask_session
/Front-end/react-app/node_modules/*
/Front-end/react-app/.env
/Front-end/react-app/.env.local
/Front-end/react-app/.env.development.local
/Front-end/react-app/.env.test.local
/Front-end/react-app/.env.production.local
/Front-end/react-app/npm-debug.log*
/Front-end/react-app/yarn-debug.log*
/Front-end/react-app/yarn-error.log*
#/Front-end/react-app/public/
/Front-end/react-app/build/

*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.swp
*.bak
*.bak1
*.bak2
*.bak3
*.tmp
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tar
*.zip
*.7z
*.tgz
*.bbl
*.blg
*.brf
*.aux
*.dvi
*.ps
*.lof
*.toc
*.flc
*.idv
*.lg
*.xref
*.4ct
*.4tc
*.idx
*.ind
*.ilg
*.maf
*.mtc
*.mtc1
*.synctex.gz
*.fdb_latexmk
*.snm
*.nav
*.vrb
*.run.xml
*.bcf
*.synctex(busy)
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.acn
*.acr
*.glg
*.glo
*.gls
*.ist
*.fls
*.lot
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.xdy
*.brf
*.ttt
*.fff
*.ppt
*.spl
*.out.ps
*.makefile
*.mk
*.py~
*.bak~
*.swp~
*.swo~
*.swn~
*.log~
*.aux~
*.bbl~
*.blg~
*.brf~
*.lof~
*.lot~
*.toc~
*.idx~
*.ind~
*.ilg~
*.out~
*.bak
*.bak1
*.bak2
*.bak3
*.tmp
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tar
*.zip
*.7z
*.tgz
*.bbl
*.blg
*.brf
*.aux
*.dvi
*.ps
*.lof
*.toc
*.flc
*.idv
*.lg
*.xref
*.4ct
*.4tc
*.idx
*.ind
*.ilg
*.maf
*.mtc
*.mtc1
*.synctex.gz
*.fdb_latexmk
*.snm
*.nav
*.vrb
*.run.xml
*.bcf
*.synctex(busy)
*.synctex.gz(busy)
*.pdfsync
*.alg
*.loa
*.acn
*.acr
*.glg
*.glo
*.gls
*.ist
*.fls
*.lot
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.xdy
*.brf
*.ttt
*.fff
*.ppt
*.spl
*.out.ps
*.makefile
*.mk
*.py~
*.bak~
*.swp~
*.swo~
*.swn~
*.log~
*.aux~
*.bbl~
*.blg~
*.brf~
*.lof~
*.lot~
*.toc~
*.idx~
*.ind~
*.ilg~
*.out~

